alias vrc="vim ~/.vimrc"
alias zrc="vim ~/.zshrc"

# -----------------------------------------------------------------------------
# GIT
# -----------------------------------------------------------------------------

alias gl="git sl"
alias gcfix="git fix"
alias pb="git checkout master && git fetch && git remote prune origin && git branch --merged master | grep -v 'master\|accept\|staging$' | xargs git branch -d"
alias gtrack='git branch -u origin/$(current_branch)'

# -----------------------------------------------------------------------------
# System default overrides
# -----------------------------------------------------------------------------

alias ls="ls -GFh --color=auto"
alias ctags="ctags -R --exclude=@.ctagsignore ."

# -----------------------------------------------------------------------------
# Development
# -----------------------------------------------------------------------------

alias fly="docker-compose"
alias dup="cd ./docker && fly up -d && cd ../nuxt && npm run dev"
alias flex="cd ./docker && fly exec -w /config/www/api app bash"

alias sail="./vendor/bin/sail"
alias sup="cd api && sail up -d && cd ../nuxt && npm run dev"
