[user]
  name = Jordy Schreuders
  email = 3071062+99linesofcode@users.noreply.github.com
[pull]
  default = current
  rebase = true
[rebase]
  autosquash = true
[push]
  default = current
[alias]
  fix = commit --fixup
  pufowile = push --force-with-lease
  sl = log --oneline --decorate --graph
  sla = sl --all
[core]
  editor = vim
  excludesfile = ~/dotfiles/.gitignore_global
  eol = lf
  autocrlf = input
[fetch]
  prune = true
[branch]
  autosetuprebase = always
[status]
  submoduleSummary = true
[diff]
  submodule = log
[init]
	defaultBranch = main
