@import "./base16.css";

* {
  box-shadow: none;
  border-radius: 3px;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  min-height: 0;
}


#workspaces.horizontal button.active,
#workspaces.horizontal button:hover,
#taskbar button.active,
#taskbar button:hover {
  background: rgba(255, 255, 255, 0.3);
}

window#waybar {
  background: none;
  border: none;
}

#window,
#idle_inhibitor,
#cpu,
#memory,
#pulseaudio,
#wireplumber
#network,
#bluetooth,
#backlight,
#battery,
#clock,
#tray,
tooltip {
  background: none;
  margin: 0 2px;
  padding: 0 5px;
}

tooltip,
.modules-left,
.modules-center,
.modules-right {
  background: #222436;
  margin: 10px 10px 0;
  padding: 5px;
}

@keyframes blink {
    to {
        color: white;
    }
}

#battery.discharging {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
